/* header style */
header nav ul li a:hover{
    /* background-color: rgb(54, 156, 14); */
    /* border-radius: 6px; */
    border-bottom: 2px solid rgb(245, 241, 8);
}
header nav ul li a.nav-link.active {
    border-bottom: 2px solid rgb(5, 250, 5);
}

/* header nav ul li a::selection{
    border-bottom: 4px solid rgb(10, 207, 10);
} */

.img-radius{
    border-radius: 12px;
    max-height: 70vh;
    /* aspect-ratio: 50%; */
    aspect-ratio: 16/9; 
    object-fit: cover;
}
body{
    background-color: #F5F5F5;
}
/* home page end */

/* About page start */
.deatiles{
    /* border-radius: 8px; */
    box-shadow: 2px 2px 6px .6px rgba(0,0,0,0.55);
    /* box-shadow: rgba(rgb(233, 233, 233), rgb(214, 216, 214), rgb(225, 225, 226), 0.3); */
}
.us{
    background-color: #0eb9631c;
}

/* Member page start */
.member img{
    height: 50vh;
    /* aspect-ratio: 90%; */
    aspect-ratio: 1/1;
}

/* contract page start */
.contract-form{
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px .2px rgba(0,0,0,0.5);
}
.address-info{
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 4px .2px rgba(0,0,0,0.5);
}

/* Member page */

/* All footer */
footer{
    background-color: white;
    padding: 3%;
}